.star-rating {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-size: 3.25rem;
}

.star {
    margin: 0 2px;
    cursor: pointer;
    color: gray;
    transition: color 0.25s ease-in-out;
}

.star.filled {
    color: gold;
}
